@tailwind base;
@tailwind components;
@tailwind utilities;

/* animation on scroll effects */
html{
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  animation:transitionIn 1.95s;
  transition-duration: 2000ms;
  transition-delay: 2000ms;
}

@keyframes transitionIn {
  from {
    opacity:0;
    transform: rotateY(-10deg)
  }
   
  to {
    opacity: 1;
    transfrom: rotateX(0);
  }

}

.trans_effect1{
  animation: translate;
}

@keyframes translate{
  0%{
    opacity: 0;
    transform: translateX(100%);
  }

  100%{
    opacity: 1;
    transform: translateX(-100%);

  }
}



.nav{
    background-color: rgba(65, 105, 225, 0.33);
    position: fixed;
    top: 0;
    max-width: 100%;
    width: 100%;
    z-index: 1;
    backdrop-filter: blur(40px);
    -moz-backdrop-filter: blur(10px);
 
  }

    a{
      text-decoration: none;
      color: #000;
      
      transition: color 0.3s ease;
    }
    
    a:hover
    {
      color: rgb(81, 140, 255);
    }

    li{
      background:linear-gradient(to right,rgb(81, 145, 255),rgb(81,200,255));
      color:linear-gradient();
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-webkit-background-clip: text;
      -moz-webkit-text-fill-color: transparent;

    }


    /* myimg_effect */
   
  .myimg{
   -webkit-mask-image:radial-gradient( rgba(0,0,0,1) 0%, rgba(0,0,0,0) 65%);
   mask-image:radial-gradient( rgba(0,0,0,1) 0%, rgba(0,0,0,0) 65%);
   background-color: #071245;
   padding-top: 80px;
   
   
  }

  .myimg1{
   -webkit-mask-image:radial-gradient( rgba(0,0,0,1) 0%, rgba(0,0,0,0) 65%);
   mask-image:radial-gradient( rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
   background-color: #071245;
   
   
  }


    /* Menu_Toggle */
    
    #menuToggle
    {
      display: block;
      position: absolute;
      top: 17px;
      right:25px;
      z-index: 1;
      
      -webkit-user-select: none;
      -moz-user-select: none;
       -ms-user-select: none;
           user-select: none;
    }
    
    #menuToggle input
    {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;
      cursor: pointer;
      opacity: 0; /* hide this */
      z-index: 2; /* and place it over the hamburger */
      -webkit-touch-callout: none;
    }
    
    /*
     * Just a quick hamburger
     */
    #menuToggle span
    {
      display: block;
      width: 40px;
      height: 3px;
      margin-bottom: 7px;
      position: relative;
      
      background:linear-gradient(to right,rgb(81, 145, 255),rgb(81,200,255));
      border-radius: 3px;
      
      z-index: 1;
      
      transform-origin: 4px 0px;
      
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
    }
    
    #menuToggle span:first-child
    {
      transform-origin: 0% 0%;
    }
    
    #menuToggle span:nth-last-child(2)
    {
      transform-origin: 0% 100%;
    }
    
    /* 
     * Transform all the slices of hamburger
     * into a crossmark.
     */
    #menuToggle input:checked ~ span
    {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background:linear-gradient(to right,rgb(81, 145, 255),rgb(81,200,255));
    }
    
    /*
     * But let's hide the middle one.
     */
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    
    /*
     * Ohyeah and the last one should go the other direction
     */
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
      opacity: 1;
      transform: rotate(-45deg) translate(0, -1px);
    }
    
    /*
     * Make this absolute positioned
     * at the top left of the screen
     */
    #menu
    {
      position: absolute;
      width: 430px;
      margin: -100px 0 0 0;
      padding: 50px;
      padding-top: 125px;
      right: -22px;
      background: #020617;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      /* to stop flickering of text in safari */
      
      transform-origin: 0% 0%;
      transform: translate(100%, 0);
      
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    
    #menu li
    {
      padding: 10px 0;
      font-size: 22px;
      text-align: center;
    }
    
    /*
     * And let's fade it in from the left
     */
    #menuToggle input:checked ~ ul
    {
      transform: none;
      opacity: 1;
    }
    
    @media screen and (max-width: 768px) {
      #menu {
        transform: none;
        opacity: 0;
    
        transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
      }
    }


    .btn {
        --color: rgb(81, 140, 255);
        --color2: rgb(10, 25, 30);
        padding: 0.8em 1.75em;
        background-color: transparent;
        border-radius: 6px;
        border: .3px solid var(--color);
        transition: .5s;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        z-index: 1;
        font-weight: 300;
        font-size: 17px;
        font-family: 'Roboto', 'Segoe UI', sans-serif;
        text-transform: uppercase;
        color: var(--color);
        }
        
        .btn::after, .btn::before {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        transform: skew(90deg) translate(-50%, -50%);
        position: absolute;
        inset: 50%;
        left: 25%;
        z-index: -1;
        transition: .5s ease-out;
        background-color: var(--color);
        }
        
        .btn::before {
        top: -50%;
        left: -25%;
        transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
        }
        
        .btn:hover::before {
        transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
        }
        
        .btn:hover::after {
        transform: skew(45deg) translate(-50%, -50%);
        }
        
        .btn:hover {
        color: var(--color2);
        }
        
        .btn:active {
        filter: brightness(.7);
        transform: scale(.98);
        }
    
        /* project button */
    
        .ui-btn {
            --btn-default-bg: rgb(81, 140, 255);
            --btn-padding: 15px 20px;
            --btn-hover-bg: rgb(81, 140, 255);;
            --btn-transition: .3s;
            --btn-letter-spacing: .1rem;
            --btn-animation-duration: 1.2s;
            --btn-shadow-color: none;
            --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
            --hover-btn-color: #fff;
            --default-btn-color: #fff;
            --font-size: 16px;
            /* 👆 this field should not be empty */
            --font-weight: 600;
            --font-family: Menlo,Roboto Mono,monospace;
            /* 👆 this field should not be empty */
          }
          
    
    
    


    /*button-card */
    .ui-btn {
        box-sizing: border-box;
        padding: var(--btn-padding);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--default-btn-color);
        font: var(--font-weight) var(--font-size) var(--font-family);
        background: var(--btn-default-bg);
        border: none;
        cursor: pointer;
        transition: var(--btn-transition);
        overflow: hidden;
        box-shadow: var(--btn-shadow);
      }
      
      .ui-btn span {
        letter-spacing: var(--btn-letter-spacing);
        transition: var(--btn-transition);
        box-sizing: border-box;
        position: relative;
        background: inherit;
      }
      
      .ui-btn span::before {
        box-sizing: border-box;
        position: absolute;
        content: "";
        background: inherit;
      }
      
      .ui-btn:hover, .ui-btn:focus {
        background: var(--btn-hover-bg);
      }
      
      .ui-btn:hover span, .ui-btn:focus span {
        color: var(--hover-btn-color);
      }
      
      .ui-btn:hover span::before, .ui-btn:focus span::before {
        animation: chitchat linear both var(--btn-animation-duration);
      }
      
      @keyframes chitchat {
        0% {
          content: "#";
        }
      
        5% {
          content: ".";
        }
      
        10% {
          content: "^{";
        }
      
        15% {
          content: "-!";
        }
      
        20% {
          content: "#$_";
        }
      
        25% {
          content: "№:0";
        }
      
        30% {
          content: "#{+.";
        }
      
        35% {
          content: "@}-?";
        }
      
        40% {
          content: "?{4@%";
        }
      
        45% {
          content: "=.,^!";
        }
      
        50% {
          content: "?2@%";
        }
      
        55% {
          content: "1}]";
        }
      
        60% {
          content: "?{%:%";
          right: 0;
        }
      
        65% {
          content: "|{f[4";
          right: 0;
        }
      
        70% {
          content: "{4%0%";
          right: 0;
        }
      
        75% {
          content: "'1_0<";
          right: 0;
        }
      
        80% {
          content: "{0%";
          right: 0;
        }
      
        85% {
          content: "]>'";
          right: 0;
        }
      
        90% {
          content: "4";
          right: 0;
        }
      
        95% {
          content: "2";
          right: 0;
        }
      
        100% {
          content: "";
          right: 0;
        }
      }
      


/* container_for_projects */
      .card-container {
        width: 375px;
        height: 300px;
        position: relative;
        border-radius: 5px;
        background:linear-gradient(to right,rgb(1, 8, 19),rgba(3, 10, 93, 0.385));
      }
      
      .card-container::before {
        content: "";
        z-index: -1;
        position: absolute;
        inset: 0;
        transform: translate3d(0, 0, 0) scale(0.95);
        filter: blur(20px);
      }
      
      .card {
        width: 100%;
        height: 100%;
        border-radius: inherit;
        overflow: hidden;
      }
      
      .card .img-content {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(-45deg, #f1f1f1 0%, rgb(169, 169, 169) 100% );
        transition: scale 0.6s, rotate 0.6s, filter 1s;
      }
      
      .card .img-content svg {
        width: 50px;
        height: 50px;
        fill: #e8e8e8;
        transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
      }
      
      .card .content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 10px;
        color: #e8e8e8;
        padding: 20px;
        line-height: 1.5;
        border-radius: 5px;
        opacity: 0;
        pointer-events: none;
        transform: translateY(50px);
        transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
      }
      
      .card .content .heading {
        font-size: 32px;
        font-weight: 700;
      }
      
      .card:hover .content {
        opacity: 1;
        transform: translateY(0);
      }
      
      .card:hover .img-content {
        scale: 2.5;
        rotate: 30deg;
        filter: blur(7px);
      }
      
      .card:hover .img-content svg {
        fill: transparent;
      }
    
    
    


    /* colors */

    .color1{
      background-color: #ffffff86;
    }

    .navy{
        background-color: black;
        font-family:  Menlo,Roboto Mono,monospace;
        cursor: pointer;
    }

    .navy1{
      background-color: rgb(81, 140, 255);


    }

    .navy_text{
      background:linear-gradient(to right,rgb(81, 145, 255),rgb(81,200,255));
      color:linear-gradient();
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-webkit-background-clip: text;
      -moz-webkit-text-fill-color: transparent;
    }

    .name_color{
      background:linear-gradient(to right,rgb(81, 145, 255),rgb(81,200,255));
      color:linear-gradient();
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-webkit-background-clip: text;
      -moz-webkit-text-fill-color: transparent;
    }


    
    ::placeholder{
      font-weight:light;
    }

    
    .word{
      font-family: 'Righteous', cursive;
    }

    .word1{
      font-family: 'Righteous', cursive;
      font-size: 35px;
      padding: 10px;
    }

    .word2{
      font-family: 'Righteous', cursive;
      font-size: 15px;
      padding: 10px;
    }

    /* social_link card */

    .card {
      width: fit-content;
      height: fit-content;
      background-color: #0206175d;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 25px 25px;
      gap: 20px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.247);
    }

    .cardX{
      background-color: transparent;
      background: none;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 25px 25px;
      gap: 20px;

    }
    
    /* for all social containers*/
    .socialContainer {
      width: 45px;
      height: 45px;
      background-color: rgb(44, 44, 44);
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      transition-duration: .3s;
    }
 
    .socialContainer1 {
      width: 28px;
      height: 28px;
      background-color: rgb(44, 44, 44);
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      transition-duration: .3s;
    }
 
    /* twitter*/
    .containerTwo:hover {
      background-color: #00acee;
      transition-duration: .3s;
    }
    /* linkdin*/
    .containerThree:hover {
      background-color: #0072b1;
      transition-duration: .3s;
    }
    /* Whatsapp*/
    .containerFour:hover {
      background-color: #128C7E;
      transition-duration: .3s;
    }
    
    .socialContainer:active {
      transform: scale(0.9);
      transition-duration: .3s;
    }
    
    .socialSvg {
      width: 22px;
    }
    
    .socialSvg path {
      fill: rgb(255, 255, 255);
    }
    
    .socialContainer:hover .socialSvg {
      animation: slide-in-top 0.3s both;
    }
    
    @keyframes slide-in-top {
      0% {
        transform: translateY(-50px);
        opacity: 0;
      }
    
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }
    

    .btnX{
      background:linear-gradient(to right,rgb(81, 145, 255),rgb(81,200,255));
    }
    
    .text_hover a:hover{
      color:rgb(81, 140, 255);
      transition: 1s;
    }

    .top{
      background:linear-gradient(to right,rgb(81, 145, 255),rgb(81,200,255));
      color: #fff;
      position: fixed;
      border-radius: 4px;
      text-align: center;
      bottom: 30px;
      right: 5px;
      height: 35px;
      width: 35px;
      cursor: pointer;
      z-index: 1;
    }


    .hr_color{
      background:linear-gradient(to right,rgb(81, 145, 255),rgb(81,200,255));
      height: 2px;
      border-radius: 9px;
      width: 80vw;
      margin: auto;
    }

    .lawn_color{
      background:linear-gradient(to right,rgb(81, 145, 255),rgb(81,200,255));
      color:linear-gradient();
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-webkit-background-clip: text;
      -moz-webkit-text-fill-color: transparent;

    }

    .lawn_color_bg{
      background:linear-gradient(to right,rgb(81, 145, 255),rgb(81,200,255));
    }



    form {
      max-width: 400px;
      margin: 20px auto;
      padding: 20px;
      background-color: transparent;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    label, input, textarea {
      display: block;
      margin-bottom: 10px;
      color: rgb(104, 111, 117);
    }
    
    input, textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #00acee;
      background-color: transparent;
    }

    textarea{
      height: 20vh;
    }
    
    .btnX1 {
      width: 100%;
      padding: 10px;
      color: #ffffff;
      border: none;
      cursor: pointer;
    }
    
    .btnX1:hover {
      background-color: #00acee;
    }


    
/* media-queries, min-width */
@media screen and (min-width:300px)  {
  *{
    margin: 0;
    padding: 0;

  }
  .bodyX{
    width: 100%;
  }
   
  .bodyZ{
    height: 55rem;
  }

  .bodyY{
    height: 270rem;
  }
  .bodyX1{
    height: 225rem;
  }

  .contX{
    width: 40vw;
    height: 40vh;
    margin-top: 560px;

  }

  .contY{
    width: 85vw;
    height: 15vh;
  }

 

  .footerX{
    height:22rem;
  }

}


@media screen and (min-width:200px)  {

  .media-height{
    height: 75rem;
  }
  .media-height1{
    height: 270rem;
  }

}


.skillz{
  background-image:linear-gradient(to right,rgb(3, 7, 18)35%,rgba(3, 7, 18, 0.61)100%),url(/dist//AI\ 3.png);
  width: 100%;
  height: 25rem;
  background-repeat: no-repeat;
  background-position: center;
}